<?xml version="1.0" ?>
<model>
    <name>StaticRoFICoM</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ondřej Svoboda</name>
        <email>xsvobo25@fi.muni.cz</email>
    </author>
    <description>Static RoFI Connection Mechanism</description>
</model>
